body{
  background: papayawhip;
}

.main-content{
  display:flex;
  align-items: center;
  justify-content: center;
  height:calc( 100vh );
}

.input-output{
  border:solid 2px black;
  padding: 20px;
}